// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling

ActionBar {
  background-color: #e05b33;
  color: #ffffff;

}
TextField{
  color: #ffffff;
  placeholder-color: #ffffff;
}
.button{
  background-color: #40798c;
  color: #000000;
  margin-bottom: 15vw;
  margin-top: 15vw;


}
.actionbarTitle{
  font-size: 20vw;
  padding: 15vw;
  text-align: center;
  font-weight: bold;
}
.listviewcell{
  height: 50vw;

}

Page{
  background-color: #403d39;
  color: #ffffff;
}