// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling

ActionBar {
  background-color: #e05b33;
  color: #ffffff;

}
TextField{
  color: #ffffff;
  placeholder-color: #ffffff;
}
.button{
  background-color: #40798c;
  color: #000000;
  margin-bottom: 15vw;
  margin-top: 15vw;
}
.listViewLabel{
  padding: 15vw;
  font-size: 15vw;
  height: 50vw;
  vertical-align: center;
  text-align: center;

}
.header{
  font-size: 17vw;
  padding: 15vw;
  text-align: center;
}
.actionbarTitle{
  font-size: 20vw;
  padding: 15vw;
  text-align: center;
  font-weight: bold;
}

SearchBar{
  background-color:#40798c ;
  color: black;
}

Page{
  background-color: #403d39;
  color: #ffffff;
}