// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling

ActionBar {
  background-color: #ec576b;
  color: #ffffff;

}
.button{
  background-color: darkgray;
}
.actionbarTitle{
  font-size: 25px;
  padding: 15px;
  text-align: center;
  font-weight: bold;
}